@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap')
$backColor: #2B4074
$contrastColor: #F9F6E5
$textColor: #4A4A4A
$arrowColor: #929292
$lightText: #797979
$backNews: #F9F6E5
$arrowButton: 70px
$h1Letter: 96px
$minPad: 10px
$newsPad: 8px
@mixin arrow($media)
  width: $media
  height: $media
@mixin arrowPos($media)
  top: calc(50% - #{$media}) 
  left: calc(100% - #{$media})
@mixin mgn-pdg
  padding: 0
  margin: 0
@mixin main-font
  font-family: 'Roboto', sans-serif
  font-style: normal
  font-weight: 400
  @include mgn-pdg
@mixin title-font
  font-family: 'Roboto Condensed', sans-serif
  font-style: normal
  font-weight: 400
  @include mgn-pdg
@mixin small-font  
  font-family: 'Dosis', sans-serif
  font-weight: 300
  font-style: normal
  @include mgn-pdg
@mixin h1-font
  margin: 0
  font-size: $h1Letter
  line-height: $h1Letter
  letter-spacing: 2px
  @include title-font
  text-transform: uppercase
@mixin h2-font
  font-size: $h1Letter/2
  line-height: $h1Letter/1.7
  @include title-font  
@mixin h3-font
  @include main-font
  font-size: $h1Letter/4
  line-height: $h1Letter/3
  font-weight: 500
@mixin h4-font
  @include main-font
  font-size: $h1Letter/4.8
  line-height: $h1Letter/4
@mixin quotes-font
  @include title-font
  font-size: $h1Letter/2.6
  line-height: $h1Letter/2.3
@mixin quotes-font-author
  @include title-font
  font-size: $h1Letter/4
  line-height: $h1Letter/3.42
  font-weight: 700
@mixin p-font
  @include title-font
  font-size: $h1Letter/4
  line-height: $h1Letter/3.7
@mixin text-current-18
  @include main-font
  font-size: $h1Letter/5.3
  line-height: $h1Letter/4
@mixin text-current-16
  @include title-font
  font-size: $h1Letter/6
  line-height: $h1Letter/5.1
@mixin centered-between
  display: flex
  justify-content: space-between
  align-items: center
@mixin centered-center
  display: flex
  justify-content: center
  align-items: center
@mixin centered-around
  display: flex
  justify-content: space-around
  align-items: center
@mixin size-100
  width: 100%
  height: 100%
@mixin border-radius-3
  border-radius: 3px
@mixin border-radius-4
  border-radius: 4px
@mixin buttons-size
  width: #{$minPad*20}
  height: #{$minPad*5}
  text-transform: uppercase
  white-space: nowrap
@mixin hr-style
  @include mgn-pdg
  margin: #{$minPad*3.5} 0
  background: $backColor
  width: #{$minPad*10}
  height: #{$minPad*0.8}
  border: none
@mixin servise-icons
  width: #{$h1Letter/1.5}
  height: #{$h1Letter/1.5}

*
  box-sizing: border-box

html, body
  @include mgn-pdg
  @include size-100
  display: table
  @include main-font
  overflow-x: hidden
  color: $contrastColor

button
  @include buttons-size
  @include text-current-18  
  @include border-radius-3
  border: none
  cursor: pointer
  white-space: nowrap
  &hover
    border: none
h1
  @include h1-font
  margin-bottom: 20px
h2
  @include h2-font
h3
  @include h3-font
h4
  @include h4-font
p
  @include p-font
hr
  @include hr-style

.container
  width: 1140px
  margin: 0 auto
  @include centered-center
.header, .call-me
  background: $backColor
.header__inner
  width: 1320px
  @include centered-between
  padding: 17px 0
  margin: 0 -#{$minPad*9}
.header-menu-button
  padding-right: $h1Letter
  cursor: pointer
.first-slider
  justify-content: center
  background: url('../images/dest/firstSlide.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  /*background-attachment: fixed*/  
.first-slider__external
  background: rgba(33, 33, 33, 0.5)
  @include mgn-pdg
  @include size-100
  position: relative
.first-slider__inner
  width: 70%
  padding: $minPad*10 0
  @include centered-center
  flex-direction: column
  text-align: center
.first-slider-line
  display: none
.first-slider-text
  margin-bottom: $minPad*2.8
.first-slider-button, .team-text-button
  background: $backColor
  color: $contrastColor
  margin-bottom: $minPad*12
.first-slider-button
  &:hover
    color: $backColor
    background: $contrastColor
.first-slider-markers
  @include centered-center
.first-slider-markers__circle
  border-radius: 50%
  border-color: $contrastColor
  background: $contrastColor
  width: $minPad
  height: $minPad
  border: 1px
  border-style: solid
  margin-right: $minPad/2
  margin-left: $minPad/2
  &:hover
    cursor: pointer
.first-slider-markers__circle:nth-child(2)
  background: none
.first-slider-arrows
  position: absolute
  @include arrowPos($arrowButton)
.first-slider-arrow
  @include arrow($arrowButton)
  background: $backColor
  color: $contrastColor
  border-radius: 0
  @include centered-center
  font-size: $h1Letter/4
  font-weight: bold
  &:hover
    color: $arrowColor
    background: $contrastColor

.call-me__inner
  @include centered-between
  padding: $minPad*5.5 0
  @include size-100 
.call-me-text__title
  margin-bottom: $minPad*1.5
.call-me-text__description  
  @include text-current-16
  @include small-font
.call-me-button
  color: $backColor
  font-weight: 500
  background: $contrastColor

.service
  color: $backColor
.service__inner
  @include centered-between
  padding: $minPad*1.8 0
  margin: 0 -#{$minPad*9}
.service-description
  display: flex
  flex-wrap: wrap
.service-description-title
  margin: 0 0 $minPad*6.5 0 
.service-description-subtitle
  color: $textColor
  @include p-font
  font-family: 'Roboto', sans-serif
.service-description-text
  @include text-current-18
  color: $lightText
.service-items
  display: grid
  grid-template-rows: repeat(2, 255px)
  grid-template-columns: repeat(4, 212px)
  padding-left: $minPad*6
.service-items__item
  @include centered-center
  flex-direction: column
  text-align: center
  border: $minPad/2 solid transparent
  &:hover
    cursor: pointer
    border: 4px solid $backColor
  &:hover .service-items__item-hidden
    display: block
.service-items-img
  @include servise-icons
  margin-bottom: $minPad*2.5
.service-items-text
  @include text-current-16
  font-weight: 700
  color: $textColor
  margin-bottom: $minPad*3
.service-items-text, .service-items-hidden-link
  text-transform: uppercase
.service-items__item-hidden
  display: none
.service-items-hidden-text
  @include centered-between  
  @include text-current-16
  @include main-font
  font-weight: 500
  color: $lightText
  margin-bottom: $minPad*2
.service-items-hidden-link, .projects-item-subtitle, .news-text
  text-decoration: none  
  @include text-current-16
  font-weight: 700
  color: $backColor

.projects
  background: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0) 100%)
.projects__inner
  @include centered-center
  flex-direction: column
  @include size-100
  @include mgn-pdg
  padding: $minPad*8 0
.projects-line
  background: $contrastColor
  margin-bottom: $minPad*8
.projects-items
  @include centered-between
.projects-items__item
  @include centered-center
  flex-direction: column  
  flex-wrap: wrap
.projects-items__item ~.projects-items__item
  padding-left: $minPad*2
.projects-item-subtitle
  letter-spacing: 2px
.projects-item-img
  position: relative
  margin-bottom: $minPad*2
  width: 100%
  &:hover
    cursor: pointer
  &:hover .projects-item-hidden
    display: flex
.projects-item-img img
  @include border-radius-4
  width: 100%
.projects-item-hidden
  @include centered-center
  display: none
  position: absolute
  width: 90%
  height: 90%
  background: rgba(255, 255, 255, 0.7)
  top: 5%
  left: 5%
  @include border-radius-4
.projects-item-hidden__info
  width: 28px
  height: 28px
  margin-right: 10px
.projects-item-hidden__link__search
  width: 32px
  height: 32px
  margin-top: $minPad/2.5
  margin-left: $minPad

.team__inner
  display: flex
  padding-top: $minPad*4
  padding-bottom: $minPad*8
.team-text
  display: flex
  justify-content: space-between
  flex-direction: column
  text-align: left
.team-image
  padding-right: $minPad*9
.team-image-img
  @include border-radius-4
  height: 100%
.team-text-title
  color: $textColor
.team-text-text
  color: $lightText
  @include text-current-18
.team-text-button
  margin-bottom: 0

.news
  background: $backNews
.news__inner
  @include mgn-pdg
  @include size-100
  @include centered-center
  flex-direction: column
  padding-top: $minPad*7
  padding-bottom: $minPad*7
.news-title
  color: $textColor
.news-line
  margin-top: $minPad*2
  margin-bottom: $minPad*10

.news__images
  @include mgn-pdg
  @include size-100
  @include centered-between
.grid-sizer, .grid-item
  width: 25%
.grid-item
  padding-top: $newsPad*2
  padding-bottom: $newsPad*2
.grid-item:nth-child(2), .grid-item:nth-child(6)
  padding-left: 0px
  padding-right: $newsPad*3
.grid-item:nth-child(5), .grid-item:nth-child(9)
  padding-left: $newsPad*3
  padding-right: 0px
.grid-item:nth-child(3), .grid-item:nth-child(7)
  padding-left: $newsPad
  padding-right: $newsPad*2
.grid-item:nth-child(4), .grid-item:nth-child(8)
  padding-left: $newsPad*2
  padding-right: $newsPad
.news-img
  @include centered-center
  flex-direction: column
  position: relative
  outline: $minPad solid rgba(255,255,255,0)
  outline-offset: -$newsPad
  color: $contrastColor
  &:hover, .active
    cursor: pointer
    @include border-radius-4
    outline: 8px solid $backColor
  &:hover .news-background, .active .news-background
    background: rgba(43, 64, 116, 0.3)
  &:hover .news-text, .active .news-text
    background: $backColor
    color: white
    top: calc(100% - #{$minPad*7})
  &:hover .news-link, .active .news-link
    display: flex
.news-img-img
  @include mgn-pdg
  @include size-100
  @include border-radius-4
.news-background
  position: absolute
  top: 0
  left: 0
  @include mgn-pdg
  @include size-100
  background: rgba(43, 64, 116, 0)
.news-text
  position: absolute
  text-align: center
  @include mgn-pdg
  height: $minPad*4
  width: 100%
  background: white
  top: calc(100% - #{$minPad*4})
  left: 0
  color: $backColor
  padding: $minPad 0
  letter-spacing: 2px
.news-link
  position: absolute
  top: calc(50% - 28px)
  left: calc(50% - 14px)
  width: 28px
  height: 28px
  display: none
.new-search-icon
  @include mgn-pdg
  @include size-100

.reviewes__inner
  @include mgn-pdg
  @include size-100
  color: $backColor
  @include centered-center
  flex-direction: column
  padding: $minPad*10 0
.owl-carousel
  text-align: center
.owl-item
  width: 100%
.fa-quote-right
  font-size: 34px
  margin-bottom: $minPad*5
.reviewes-text
  @include quotes-font  
  color: $textColor
  margin-bottom: $minPad*3
.reviewes-text span
  color: $backColor
  font-weight: 700
q.reviewes-quote
  quotes: none
.reviewes-author
  @include quotes-font-author
  color: $textColor
.owl-controls
  padding-top: $minPad*6
.owl-page span
  background: $backColor!important
.owl-page.active span
  background: white!important
  border: 2px solid $backColor

.footer
  position: relative
  background: $backColor
.footer-logo
  position: absolute
  @include centered-center
  height: 60px
  width: 230px
  @include mgn-pdg
  left: calc(50% - 115px)
  top: -$minPad*3
  background: $backColor
  @include border-radius-3
.footer-logo img
  width: 83px
  height: 55px
.footer__inner
  @include mgn-pdg
  @include size-100
  display: flex
  flex-direction: column
  justify-content: flex-start
  padding-top: $minPad*15
  padding-bottom: $minPad*8
.footer-title
  @include h3-font
  font-weight: 400
  letter-spacing: 2px
  padding-right: 40%
  margin-bottom: $minPad*8
.footer-social
  @include mgn-pdg  
  @include size-100
  @include centered-center
  margin-bottom: $minPad*8
.footer-link
  @include mgn-pdg
  width: 25%
  @include centered-center
  text-decoration: none
  color: white
  border: 1px solid #7EBF84
  border-right: none
  @include h4-font
  padding: $minPad*2.5
  &:hover
    color: $backColor
    background: $contrastColor
    border-color: $contrastColor
.footer-link:first-child
  border-left: none
.footer-submenu
  @include mgn-pdg
  display: flex
  justify-content: flex-start
  flex-wrap: wrap
.footer-submenu-title
  @include text-current-16
  font-weight: 700
  letter-spacing: 2px
  margin-bottom: $minPad*2
.footer-submenu__item
  @include mgn-pdg
  width: 25%
.footer-submenu ul
  @include mgn-pdg
.footer-submenu li
  list-style-type: none
  text-align: left
  padding-bottom: 3px
.footer-submenu li a, .footer-submenu a
  text-align: left
  color: $contrastColor
  text-decoration: none
  @include text-current-18
  font-size: $h1Letter/8
  line-height: $h1Letter/4.8
  &:hover
    text-decoration: underline

.finish
  @include mgn-pdg
  height: 42px
.finish__inner
  @include centered-center
  width: 100%
  justify-content: flex-end
.finish-link
  color: $textColor
  @include centered-center
  padding-top: 12px
  letter-spacing: 2px
  text-decoration: none
  &:hover
    color: $backColor
  &:hover .finish-text
    font-weight: 700
.finish-text
  @include mgn-pdg
  @include text-current-16
  padding-right: 16px
.fa-chevron-up
  @include mgn-pdg
  font-size: 22px
  font-weight: 700

.scroll-top
  bottom: 10px
  right: 20px
  position: fixed
  height: 30px
  width: 30px
  background-color: $textColor
  color: white
  line-height: 30px
  text-align: center
  display: none
  z-index: 9999
  -webkit-transition: height 0.5s ease-in 0s
  -moz-transition: height 0.5s ease-in 0s
  -o-transition: height 0.5s ease-in 0s
  transition: height 0.5s ease-in 0s
  &:hover
    color: $backColor
    background: white

@media (max-width: 1024px)

  .container
    width: 90vw
  .header__inner
    margin: 0
  .header-menu-button
    padding-right: 0

  .first-slider-title 
    font-size: $h1Letter/1.14
    line-height: $h1Letter/1.14
  .first-slider-text
    @include text-current-18
    line-height: 20px
    margin-bottom: $minPad*1.5
  .first-slider-arrows
    @include arrowPos($arrowButton/1.25)
  .first-slider-arrow
    @include arrow($arrowButton/1.25)
  
  .call-me__inner
    padding: $minPad*5 0
  .call-me-text__title    
    @include text-current-18
    line-height: 18px
    font-weight: 500
    padding-bottom: $minPad*1.2
  .call-me-text__description
    font-size: $h1Letter/6.86
    line-height: $h1Letter/6

  .service__inner
    margin: 0
    padding: $minPad*5 0 $minPad*4 0
    flex-wrap: wrap
    justify-content: center
  .service-description
    flex-direction: column
  .service-description-title
    text-align: center
  .service-description-text
    padding-right: 27vw
  .service-items
    grid-template-columns: repeat(4, 1fr)
    padding: $minPad*4 0 0 0

  .projects__inner
    padding: $minPad*8
  .projects-items
    flex-direction: row
    flex-wrap: wrap
    padding: 0 10%
  .projects-items__item
    width: 50%
  .projects-item-subtitle
    @include mgn-pdg
    padding: $minPad 0px $minPad*3 0
  .projects-items__item ~.projects-items__item
    padding-left: $minPad*0
  .projects-items__item:nth-child(even)
    padding-left: $minPad*1.5
  .projects-items__item:nth-child(odd)
    padding-right: $minPad*1.5

  .team__inner
    padding-top: $minPad*8
  .team-image
    padding-right: $minPad*6
    height: 380px
  .team-image-img
    height: 100%
    width: 395px
  .team-text-line
    margin: $minPad*2 0

  .news__images
    max-width: 85vw
    justify-content: center
  .grid-sizer, .grid-item
    width: 33%
  .grid-item:nth-child(2), .grid-item:nth-child(5), .grid-item:nth-child(8)
    padding-left: 0px
    padding-right: $newsPad*3
  .grid-item:nth-child(4), .grid-item:nth-child(7)
    padding-left: $newsPad*3
    padding-right: 0px
  .grid-item:nth-child(3), .grid-item:nth-child(6), .grid-item:nth-child(9)
    padding-left: $newsPad
    padding-right: $newsPad*2
  .news-text
    @include text-current-18
    font-weight: 700
    letter-spacing: 2px
    font-family: 'Roboto Condensed', sans-serif
  .news-line   
    margin-bottom: $minPad*8
  
  .footer-title
    font-size: $h1Letter/2.67
    padding-right: 0
  .footer-social
    margin-bottom: $minPad*6
  .footer-submenu-title
    @include text-current-18
    font-family: 'Roboto Condensed', sans-serif
    font-weight: 700
    margin-bottom: $minPad*3
  .footer-submenu a, .footer-submenu li a
    font-size: $h1Letter/6

@media (max-width: 768px)

  .first-slider__inner
    width: 95%
    padding: $minPad*9 0 $minPad*5 0
  .first-slider-title 
    font-size: $h1Letter/1.6
    line-height: $h1Letter/1.6
    padding: 0 15%
  .first-slider-text
    margin-bottom: $minPad*3
  .first-slider-button
    margin-bottom: $minPad*5

  .call-me__inner
    padding-bottom: $minPad*3
  .call-me-text__title    
    font-size: $h1Letter/4
    line-height: $h1Letter/4
    font-weight: 500
    padding-bottom: $minPad*3
  .call-me-text__description
    font-size: $h1Letter/6
    line-height: $h1Letter/5.33
    padding-right: 20%

  .service-description-title
    margin-bottom: $minPad*3
  .service-description-text
    padding-right: 0
  .service-items
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(4, 288px)
  .service-items__item
    padding: 20%
  .projects__inner
    padding: $minPad*8 0
  .projects-items
    padding: 0
  .projects-item-subtitle
    @include h4-font
    font-weight: 700
    font-family: 'Roboto Condensed', sans-serif
    margin-bottom: $minPad*3
   
  .team__inner
    padding: $minPad*5 0
  .team-image
    height: 227px
    padding-right: $minPad*3
  .team-image-img
    width: 240px
  .team-text-button
    margin-left: calc(100px - 30%)
    margin-top: $minPad*4
  .team-text-line
    margin: $minPad*2 0

  .news__inner
    padding: $minPad*4 0
  .news-line
    margin-bottom: $minPad*5
  .news__images
    padding: 0
    max-width: 78vw
  .grid-sizer, .grid-item
    width: 50%
  .grid-item:nth-child(even)
    padding-left: 0px
    padding-right: $newsPad*2
  .grid-item:nth-child(odd)
    padding-left: $newsPad*2
    padding-right: 0px   

  .reviewes__inner
    padding: $minPad*6 0
  .reviewes-text
    margin-bottom: $minPad*4
  .owl-controls
    padding-top: $minPad*3

  .footer__inner
    padding: $minPad*12 0 $minPad*2 0
  .footer-title
    margin-bottom: $minPad*4
  .footer-social
    margin-bottom: $minPad*6
  .footer-submenu__item
    width: 50%
    margin-bottom: $minPad*3
  .footer-submenu-title
    margin-bottom: $minPad*2

@media (max-width: 640px)
  .first-slider__inner
    padding-top: $minPad*5
  .first-slider-text
    display: none
  .first-slider-line
    display: block
    width: $minPad*6
    background: $textColor
    border: none
    margin: -$minPad auto $minPad*3 auto

  .call-me__inner
    justify-content: center
    flex-wrap: wrap
  .call-me-text
    text-align: center
    width: 100%
  .call-me-text__description
    padding: 0
  .call-me-button
    margin: $minPad*3 0 $minPad 0

  .service__inner
    padding: $minPad*3 0
  .service-description
    justify-content: center
    align-items: center
  .service-description-text, .service-description-subtitle
    padding: 0
    text-align: center
  .service-items__item
    padding: 15%

  .projects__inner
    padding: $minPad*4 0
  .projects-line, .team-text-line
    margin: $minPad*2 0 $minPad*4 0
  .projects-items
    padding: 0 $minPad*4
  .projects-items__item
    width: 100%
  .projects-items__item:nth-child(even)
    padding-left: $minPad*0
  .projects-items__item:nth-child(odd)
    padding-right: $minPad*0
  .projects-item-subtitle
    font-size: $h1Letter/4.8
    line-height: $h1Letter/4
    font-weight: 700

  .team__inner
    flex-direction: column
    padding-top: $minPad*5
  .team-image
    height: 478px
    padding: 0
    margin-bottom: $minPad*4
    text-align: center
  .team-image-img
    width: 540px
  .team-text
    justify-content: center
    align-items: center
  .team-text-text
    text-align: center
  .team-text-button
    margin: $minPad*6 auto 0 auto

  .reviewes-text
    font-size: $h1Letter/3
    line-height: $h1Letter/2.82

  .footer-title
    font-size: $h1Letter/4
    line-height: $h1Letter/3.7

@media (max-width: 480px)
  .service-description-title, .projects-title, .team-text-title, .news-title
    text-align: center
    white-space: nowrap
    @include quotes-font-author
    font-weight: 400
    margin-bottom: $minPad*2
  .first-slider-line, .service-description-line, .projects-line, .team-text-line, .news-line
    margin-top: 0px
    margin-bottom: $minPad*4
    width: $minPad*4.5
  .header__inner
    padding: $minPad*0.7 0
  .first-slider__inner
    padding: $minPad*4 0 $minPad*2 0
  .first-slider-arrows, .first-slider-button
    display: none
  .first-slider-title
    font-size: $h1Letter/3.42
    line-height: $h1Letter/3.42

  .service-description-subtitle
    font-size: $h1Letter/4.8
    line-height: $h1Letter/4
    margin-bottom: $minPad*3
  .service-description-text
    font-size: $h1Letter/6.4
    line-height: $h1Letter/5.64
    padding: 0 $minPad
  .service-items
    grid-template-columns: repeat(1, 1fr)
    grid-template-rows: repeat(8, 277px)

  .projects-items
    padding: 0

  .team-image
    height: 76vw   
  .team-image-img
    width: 87vw

  .grid-sizer, .grid-item
    width: 100%
  .news__images
    padding: 0
  .grid-item:nth-child(odd), .grid-item:nth-child(even)
    padding-left: 0
    padding-right: 0  

  .reviewes-text
    font-size: $h1Letter/4
    line-height: $h1Letter/3.7

  .footer__inner
    padding-top: $minPad*8 
  .footer-title
    text-align: center
    font-size: $h1Letter/4.8
    line-height: $h1Letter/4.36
  .footer-social
    flex-direction: column
  .footer-link
    border: none
    padding: $minPad
  .footer-submenu__item
    @include centered-center
    flex-direction: column
    flex-wrap: wrap
    width: 100%
    text-align: center
  .footer-submenu-data li
    text-align: center